<div class="ui basic segment">
  <div class="ui dividing header">
    Registration
  </div>
  <div class="ui form error" [formGroup]="userForm">
    <div class="two fields">
      <div class="field">
        <label>First name</label>
        <input type="text" placeholder="First name" formControlName="first_name">
      </div>
      <div class="field">
          <label>Last name</label>
          <input type="text" placeholder="Last name" formControlName="last_name">
        </div>      
    </div>
    <div class="required field" [class.error]="errors&&errors.email">
      <label>Email</label>
      <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div class="two fields">
        <div class="required field" [class.error]="errors&&errors.password">
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="required field" [class.error]="errors&&errors.password">
            <label>Password confirm</label>
            <input type="password" formControlName="password_confirm">
        </div>        
    </div>
    <div class="ui error message" *ngIf="errors">
      <div class="header">Error</div>
      <ul class="list">
        <li *ngFor="let field of errors | keys">{{ field }}: {{ errors[field] }}
      </ul>
    </div>
    <div class="ui right aligned basic segment">
      <div class="ui green button" (click)="registration()">Send</div>
    </div>
  </div>
</div>